:root {
      --add-background: #2dc653;
      --add-active: #3ec6ff;
      --del-active: #e63946;
      --color-white: #ffffff;
      --sidebar-header: #7137fc;
      --mde-header-background: whitesmoke;
      --mde-border:  #bfc0c0;
      --split-background: #eee;
      --pre-background: linear-gradient(to bottom,#fff 0,#fff 0.75rem,#f5f7fa 0.75rem,#f5f7fa 2.75rem,#fff 2.75rem,#fff 4rem);
      --border-line-1: #ddd;
      --border-line-2: #ccc;
      --td-background: #f9f9f9;
}